// @use 

$dark-green: #519054;
$lime-green: #beda58;
$kermit-green: rgb(153, 176, 69);
// $lime-green: rgb(190, 218, 88);
$pastel-green: #dce9af;
// $pastel-green: rgb(220, 233, 175);
$dim-pastel-green: rgba(220, 233, 175, .7);
$cream: #faeec7;
// $cream: rgb(250, 238, 199);
$orange-soda: #ffaa33;
// $orange-soda: rgb(255, 170, 51);
$pure-orange: #f88621;
// $pure-orange: rgb(248, 134, 33);
$blood-orange: #f26818;
// $blood-orange: rgb(242, 104, 24);

$dark-brown: rgb(45, 35, 29);
$brown: rgb(92, 69, 53);
$light-brown: rgba(92, 69, 53, 0.7);

$off-white: rgb(255, 250, 233);


$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;