@import '../colors.scss';

.header {
  background-color: $brown;
  width: 100%;
  
  &__inner {
    display: flex;
    margin-left: 20px;
    margin-right: 34px;
    justify-content: space-between;
    align-items: center;

    & > a {
      &:last-of-type {
        margin-left: 64px;
      }
    }
  }

  &__sign-in {
    min-width: 111px;
    width: 111px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 500;
    background-color: $pastel-green;
    padding: 12px 18px;
    border-radius: 4px;
    z-index: 3;

    &:hover {
      background-color: $lime-green;
      cursor: pointer;
      transform: scale(1.05) perspective(1px);
      transition: 0.50s;
    }
  }

  &__logo {
    width: 300px;
    padding: 14px;
  }

  &__outter-wrapper{
    height: 34px;
    flex: .9;
    align-items: center;
    position: relative;

  }

  .header__outter-wrapper-container {
    width: 100%;
  }

  &__search-wrapper {
    overflow: visible;
    width: 100%;
    height: 100%;
    height: 34px;
    display: flex;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 6px;
    border: 2px solid rgb(199, 144, 66);
    align-items: center;
    background-color: $cream;
    -webkit-transition: background 0.8s;
    transition: background 0.8s;
    position: relative;
  
    & > div {
      display: flex;
      justify-content: flex-end;

      & > svg {
        width: 20px;
        height: 21px;
        right: 0;
        z-index: 100;
        padding-right: 20px;
        padding-left: 18px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        background-repeat: no-repeat;
        -webkit-transition: background 0.8s;
        transition: background 0.8s;
        cursor: pointer;
      }
    }

  
    &:focus-within {
      border: 2px solid $orange-soda;
      background-color: $off-white;
      -webkit-transition: background 0.8s;
      transition: background 0.8s;
  
      & > div {
        & > svg {
          background-color: rgba(255, 170, 51, 0.5);
        }
      }
    }
  
    & > input {
      background-color: $cream;
      width: 100%;
      border: none;
      margin-left: 15px;
      margin-right: 40px;
      outline: none;
      color: $brown;
      font-family: 'Montserrat', sans-serif;
      -webkit-transition: background 0.8s;
      transition: background 0.8s;
  
      &::placeholder {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        color: $brown
      }
  
      &:focus {
        background-color: $off-white;
        -webkit-transition: background 0.8s;
        transition: background 0.8s;
      }
    }
  
    &:hover {
      border: 2px solid $orange-soda;
    }
  }
}

.user-profile {
  margin-top: 4px;
  width: 40px;
  border-radius: 6px;

    &:hover {
      cursor: pointer;
      transform: scale(1.1) perspective(1px);
      transition: 0.50s;
    }
}