@import '../colors.scss';

.search_drop-down {
  border-radius: 6px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  max-width: 700px;
  width: 100%;
  margin: 8px 0;
  color: white;
  left: 1.8%;
	padding:0 10px;	
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
  overflow: hidden; 
}

.song_card {
  padding: 8px 16px;
  margin-bottom: 4px;
  border-radius: 6px;
  background-color: $dim-off-white;
  box-shadow: $shadow;
  
  &:hover {
    background-color: $dim-cream;
  }

  &__details {
    margin-right: 12px;
    display: flex;
    height: 80px;
    max-width: 700px;
    width: 100%;
  }

  &__left {
    & > img {
      width: 80px;
      border-radius: 4px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  &__right {
    padding-left: 50px;
    padding-right: auto;
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;


    & > p {
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      text-align: start;
    }

    &__title {
      font-size: 18px !important;
      line-height: 18px;
      padding-top: 4px;
      font-weight: 600 !important;
      width: 100%
    }

  }
  
  &__add-post {
    display: flex;
    justify-content: center;
    align-items: center;

    & > svg {
      width: 2em;
      height :auto;
      padding: .25em;
      border-radius: 50%;
      fill: $brown;
      -webkit-transition: background 0.8s;
      transition: background 0.8s;

      &:hover {
        cursor: pointer;
        background-color: $pastel-green;        
      }
    }
    
  }
}
