@import '../colors.scss';

.splash {
  background-color: $cream;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 32px;

  &__button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
    &__rainbow-img {
      max-width: 220px;
      width: 100%;
      -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
      mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }

    &__rainbow-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: $cream;
      width: 100%;
    
      &__inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 500px;
        min-width: 400px;
        width: 100%;
        background-color: $cream;
    
        & > .moving-words {
          font-size: 35px;
          font-family: 'Hind Siliguri', sans-serif;
          font-weight: 400;
          margin-bottom: 35px;
        }
      }
    }
  }

  &__right {
    max-width: 500px;
    width: 100%;

    &__boom-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 120px;
    }

    &__boom-box {
      width: 100%;
      max-width: 500px;
      margin-top: -214px;
      z-index: 2;
      // position: absolute;
      // top: 0;
    }

    &__wave-wrapper {
      display: flex;
      justify-content: center;
      height: 200px;
      width: 100%;

      & > div {
        display: flex;
        justify-content: center;
        margin: unset;
      }
    }

    &__words {
      padding-top: 40px;
      display: flex;
      justify-content: flex-end;
    }

    &__words-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    
      & > h1 {
        font-size: 28px;
        padding-bottom: 20px;
        color: $light-brown;
      }
    
      & > p {
        font-size: 24px;
        line-height: 36px;
        color: $light-brown;
      }
    }
  }
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}